@using CSIProductConfigurationCommon.Models;

@model List<ConfigurationTypeParameter>



@foreach (ConfigurationTypeParameter item in Model)
{

    <div class="row">
        <div class="col-md-12">

            <h2>@item.ParameterName</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @if (item.IsHasValues)
            {
                @Html.DropDownList(item.ParameterName + "DropDown", new SelectList(item.ParameterValues, "ParameterID", "Label"), "-- Please choose --", htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                <text>>free text baby</text>
            }
        </div>
    </div>


}
