@using CSIProductConfigurationCommon.Models;

@model List<ConfigurationTypeParameter>



@foreach (ConfigurationTypeParameter item in Model)
{
    <h2>@item.ParameterName</h2>

    if (!item.IsHasValues)
    {

        <div class="row">
            <div class="col-md-12">

                @Html.LabelFor(i => item.ParameterName)
            </div>
        </div>
    }

}
