@{
    ViewBag.Title = "Home Page";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->

<hr />


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">Number of months</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div id="panelMonths" class="panel-body">1</div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="monthsSlider"></div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">Cost per month</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div id="panelMonthlyCost" class="panel-body">0</div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="monthlyCostSlider"></div>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">Total cost</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div id="panelTotalCost" class="panel-body">0</div>
        </div>
    </div>
</div>



