@using CSIProductConfigurationCommon.Models;

@model ConfigurationDetail

@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    ConfigurationDetail object
                </h4>
            </div>
            
                <div class="panel-body">
                    @ObjectInfo.Print(Model)
                </div>
            
        </div>
    </div>
</div>


