<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Self Registration Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{BaseUrl}/Content/common.css" />
</head>
<body>

    <header id="header">
        <div class="content-wrapper">
            <div class="center">                
            </div>
        </div>
    </header>
    <div id="body">

        <section class="content-wrapper">
           <div id="htmlTitle">
               <h3>Cognisec Transfer Activation</h3>
           </div><br />
           <div id="htmlContent">
               <p>Please click the following link to activate your cognisec transfer account.</p>
               <div id="selfRegistrationContent"></div> <br /><br />               
           </div>
        </section>

    </div>
    <footer id="footer" role="contentinfo">
        <div class="btm">
        </div>
    </footer>

</body>
</html>