<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cognisec Transfer Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{BaseUrl}/Content/common.css" />
</head>
<body>

    <header id="header">
        <div class="content-wrapper">
            <div class="center">                
            </div>
        </div>
    </header>
    <div id="body">

        <section class="content-wrapper">
           <div id="htmlTitle">
               <h3>Cognisec Transfer Password Reset Request</h3>
           </div><br />
           <div id="htmlContent">
               <p>We have received a request to reset your cognisec transfer password. </p>
               <p>Please follow this link to reset your password.</p>
               <div id="selfRegistrationContent"></div> <br /><br />
               <p>If you did not request a password reset please ignore this email.</p>
           </div>
        </section>

    </div>
    <footer id="footer" role="contentinfo">
        <div class="btm">
        </div>
    </footer>

</body>
</html>