@using System.Security.Claims
@if (Request.IsAuthenticated)
{
        @Html.AntiForgeryToken()

        <div class="blueBadge badge">
            <h5>Hello, @ClaimsPrincipal.Current.Identity.Name</h5>
        </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
